################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Automation.Test/bin/Debug
/Automation.Test/obj/Debug
/Automation.Core/bin/Debug
/Automation.Core/obj/Debug
